footer{
    background-color: #211E3B;
    color: #ffffff;

    .footer-1{
        border-bottom: 1px solid #FFFF;
        padding: 40px 0px;
    }

    .footer-2{
        background-image: url("../../images/footer-bg.png");
        padding: 40px 0px;

        .brand-identity{
            @include media-breakpoint-up(lg){
                img, .social{ margin-bottom: 10px; }
            }

            .social{
                margin-top: 20px;

                a{
                    color: #ffffff;
                    font-size: large;
                    margin-left: 0;
                    margin-right: 10px;
                }
            }
        }

        .links{
            @include flex-column;

            a{
                color: #ffffff;
                @media (hover:hover){
                    transition: .3s;

                    &:hover{ color: $primary-color; }
                }
            }
        }
    }
}