footer{
    background-color: #211E3B;
    color: #ffffff;

    .contacts-container, .footer-2-container{
        @include flex-align-justify-center;
        flex-direction: column;
        text-align: center;
        gap: 50px;
        font-size: smaller;
        @include media-breakpoint-up(lg){
            flex-direction: row;
            gap: unset;
            text-align: unset;
            font-size: unset;
        }
    }

    .footer-1{
        border-bottom: 1px solid #FFFF;
        padding: 40px 0px;

        .contacts-container .contacts-template{
            @include flex-col;
            @include media-breakpoint-up(lg){ margin-right: 50px; }
        }
    }

    .footer-2{
        background-image: url("../../images/footer-bg.png");
        padding: 40px 0px;

        .brand-identity{
            @include media-breakpoint-up(md){ width: 40%; }
            @include media-breakpoint-up(lg){
                margin-right: 50px;
                img, .social{ margin-bottom: 10px; }
            }

            .social{
                margin-top: 20px;

                a{
                    color: #ffffff;
                    font-size: large;
                    margin-left: 0;
                    margin-right: 10px;
                }
            }

            .links{
                @include flex-col;
                @include media-breakpoint-up(lg){ margin-right: 50px; }

                a{
                    color: #ffffff;
                    @media (hover:hover){
                        transition: .3s;

                        &:hover{ color: $primary-color; }
                    }
                }
            }
        }
    }
}