header{
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;

    .contacts-social{
        display: none;
        background-color: $secondary-color;
        padding: 10px 0;
        color: #ffffff;
        z-index: 0;
        @include media-breakpoint-up(lg){ display: flex; }

        a,a:hover{ color: #ffffff; }

        .contacts, .social{
            @include flex-align-center;
            flex-direction: row;
        }

        .contacts{
            white-space: nowrap;
            gap: 1rem;

            i{ margin-right: .2rem; }
        }

        .social{
            justify-content: flex-end;

            a{ margin-left: 1rem; }
        }
    }

    nav{
        @include flex-align-justify-center;
        flex-direction: column;
        background-color: #ffffff;
        color: #000000;
        text-transform: uppercase;
        transition: .3s;
        @include media-breakpoint-up(lg){
            flex-direction: row;
            height: 80px;
            position: relative;
        }

        .container, .row { height: 100%; }

        .row{
            align-items: center;
            justify-content: center;
            @include media-breakpoint-up(lg){ justify-content: unset; }
        }

        .logo-img{
            @include media-breakpoint-down(lg){
                all: unset;
                display: flex;
            }

            img{
                margin: 20px auto;
                max-width: 224px;
                max-height: 50px;
                @include media-breakpoint-up(lg){ margin: 0; }
            }
        }

        .cta-button{
            display: none;
            @include media-breakpoint-up(lg){
                display: flex;
                justify-content: flex-end;
            }
        }

        .nav-links{
            display: none;
            width: 100%;
            height: 100%;
            gap: 1rem;
            white-space: nowrap;
            @include media-breakpoint-up(lg){
                @include flex-align-justify-center;
                flex-direction: row;
            }

            .nav-link{
                @include flex-align-center;
                height: 100%;

                .menu-item, a{
                    font-size: 13px;
                    font-weight: bolder;
                    color: #000000;
                    user-select: none;
                }

                &:hover .dropdown{ @include flex-column; }

                .dropdown{
                    display: none;
                    position: absolute;
                    top: 80px;
                    z-index: 999;
                    background-color: #ffffff;
                    animation: fadeInUpDrop 0.3s ease-in-out;

                    .menu-item, a{
                        color: #000000;
                        padding: 5px;
                        padding-right: 50px;
                        width: 100%;
                        transition: 0.3s;
                        //border-top: 1px solid #ffffff;

                        &:hover{
                            color: #ffffff;
                            background-color: $secondary-color;
                        }
                    }
                }

                &.has-sub-menu{
                    position: relative;

                    .menu-item{
                        padding-right: 0;
                        width: fit-content;
                    }

                    .sub-menu{
                        display: none;
                        position: absolute;
                        z-index: 999;
                        left: 100%;
                        top: 0;
                        background-color: #ffffff;
                    }

                    &:hover {
                        background-color: $secondary-color;

                        .menu-item, .angle-right { color: #ffffff; }

                        .sub-menu{ @include flex-column; }
                    }
                }
            }
        }

        &.nav-scroll{
            color: #ffffff;
            @include media-breakpoint-up(lg){ background-color: #000000; }

            .nav-link a, .nav-link a:hover{ color: #ffffff;}

            .dropdown a{ color: #000000; }
        }

        .mobile-menu{
            @include flex-align-center;
            flex-direction: column;
            color: #ffffff;
            background-color: $secondary-color;
            width: 100%;
            @include media-breakpoint-up(lg){ display: none;}

            .title-hamburger{
                width: 100%;
                padding: 20px 0;

                .container{
                    @include flex-align-center;
                    flex-direction: row;
                    justify-content: space-between;

                    div{
                        font-size: 18px;
                        font-weight: 700;
                    }

                    .hamburger{
                        @include flex-align-center;
                        flex-direction: column;

                        .line{
                            display: block;
                            margin: 2px;
                            width: 22px;
                            height: 3px;
                            background: #ffffff;
                            border-radius: 9px;
                            transition: 0.3s;
                        }

                        &.open{
                            .line-1{ transform: translate(0, 10px) rotate(45deg); }
                            .line-2{ opacity: 0; }
                            .line-3{ transform: translate(0, -5px) rotate(-45deg); }
                        }
                    }
                }
            }

            .mobile-nav-links, .mobile-dropdown {
                display: none;
                flex-direction: column;
                background-color: #F8F8F8;
                color: black;
                text-transform: capitalize;
                width: 100%;
                height: max-content;
                z-index: 999;
            }

            .mobile-nav-links.open{
                display: flex;

                .menu-item, a{
                    @include flex-align-center;
                    //border-top: 1px solid #ddd;
                    padding: 1em 0;
                    transition: 0.3s;
                }

                .mobile-nav-link{
                    @include flex-align-center;
                    flex-direction: row;

                    .angle-down{
                        margin-left: 5px;
                        font-size: 13px;
                    }

                    .mobile-dropdown-open{ color:#000000; }
    
                    & > a, .mobile-dropdown>a{
                        color: #000000;
                        display: block;
                        font-size: 14px;
                        text-transform: uppercase;
                    }

                    &.has-sub-menu{
                        .menu-item{
                            @include flex-align-center;
                            flex-direction: row;
                        }

                        .mobile-sub-menu{ display: none; }

                        &.open{
                            background-color: $secondary-color;
                            color: white;

                            & > .mobile-sub-menu{
                                display: flex;
                            }
                        }
                    }
                }
            }
        }

        .angle-down, .angle-right{
            margin-left: .2rem;
            font-size: .7rem;
        }
    }
}

@keyframes fadeInUpDrop {
    from{
        top: 100px;
        opacity: 0%;
    }
    to{
        top: 80px;
        opacity: 100%;
    }
}