.action-statistics{
    background-color: $secondary-color;
    padding-top: 50px;
    color: #ffffff;

    .statistics{
        @include flex-justify-center;
        flex-direction: column;
        width: 100%;
        font-family: 'Montserrat', sans-serif;
        @include media-breakpoint-up(md){
            display: grid;
            justify-content: center;
            grid-template-columns: 50% 50%;
            column-gap: 0px;
            row-gap: 0px;
            grid-template-rows: auto auto;
            box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.5);
        }
        @include media-breakpoint-up(lg){
            @include flex-row;
            box-shadow: 0px 30px 30px 0px rgba(0,0,0,0.75);
        }

        .span-icon{
            @include flex-align-justify-center;
            @include make-circle(50px);
            font-size: larger;
            margin-right: 1rem;
            background-color: $secondary-color;
            color: #ffffff;
        }

        .stat-card{
            @include flex-align-center;
            flex-direction: row;
            width: 100%;
            height: 150px;
            justify-content: flex-start;
            padding-left: 1rem;
            border-bottom: 1px solid transparent;
            @include media-breakpoint-up(lg){
                justify-content: center;
                padding-left: unset;
                border-bottom: unset;
            }

            .stat-data{
                font-weight: bolder;
                text-transform: uppercase;

                .title{ font-size: 30px; }

                .title-span{
                    @include flex-align-center;
                    flex-direction: row;

                    span{ font-size: 30px; }
                }
            }
        }

        .stat-blue, .stat-purple{ color: #ffffff; }

        .stat-purple{
            background-color: $secondary-color;

            .icon{ background-color: $primary-color; }
        }

        .stat-blue{ background-color: $primary-color; }

        .stat-white{
            color: #000000;
            background-color: #ffffff;
        }

        #account-number{ border-bottom-color:#000000; }
    }
}