@import 'bootstrap/scss/bootstrap';

@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/functions";

@import "./common/fonts";
@import "./common/buttons";

@import "./components/header";
@import "./components/footer";

@import "./pages/home";

body{
    font-family: 'Nunito', sans-serif;

    a{
        text-decoration: none;
    }

    .h5-line{
        @include flex-align-center;
        font-family: 'Montserrat', sans-serif;

        .line{
            display: none;
            width: 70px;
            height: 2px;
            background-color: $secondary-color;
            @include media-breakpoint-up(md){ display: block; }
        }
    }
}