.about-us{
    margin: 50px 0;
    @include media-breakpoint-up(lg){ margin: 150px 0; }

    .content{
        @include flex-column;
        @include media-breakpoint-up(lg){
            flex-direction: row;

            .collage{
                width: 50%;
                height: fit-content;
                margin-right: 50px;
            }
        }

        .text{
            margin: 50px;
            @include media-breakpoint-up(lg){
                margin: unset;
                width: 40%;

                .h5-line{
                    flex-direction: row;

                    .line{ margin-left: 30px; }
                }
            }

            h2{
                font-weight: 700;
                font-size: 20px;
            }

            p{ font-size: 16px; }

            .paragraphs{
                @include flex-align-center;
                flex-direction: column;

                .paragraph{
                    @include flex-align-center;
                    flex-direction: row;
                    margin-top: 50px;
                    @include media-breakpoint-up(lg){
                        margin-top: unset;
                        padding: 10px;
                    }

                    i{
                        width: 32px;
                        color: $primary-color;
                        font-size: xx-large;
                        margin-right: 50px;
                    }
                }
            }
        }
    }
}