.about-us{
    margin: 50px 0;

    .container{
        @include flex-column;
        @include media-breakpoint-up(lg){
            flex-direction: row;

            .collage{
                margin: auto 0;
                width: 50%;
                height: auto;
                margin-right: 50px;
            }
        }

        .text{
            margin: 50px;
            @include media-breakpoint-up(lg){
                margin: unset;
                width: 40%;

                .title-line{ flex-direction: row; }
            }

            .title-2 span{ color: $primary-color; }

            .paragraphs{
                @include flex-align-center;
                flex-direction: column;

                .paragraph{
                    @include flex-align-center;
                    flex-direction: row;

                    i{
                        width: 32px;
                        color: $primary-color;
                        font-size: xx-large;
                        margin-right: 50px;
                    }
                }
            }
        }
    }
}