.action-statistics{
    background-color: $secondary-color;
    padding-top: 30px;
    
    .cta{
        @include flex-align-center;
        flex-direction: column;
        margin: 0 50px;
        text-align: center;
        color: #ffffff;
        
        .title-2{
            font-weight: 700;
            font-size: 14px;
            margin: 45px auto 28px;
            @include media-breakpoint-up(lg){ font-size: 36px; }
        }

        p{
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 1rem;
        }

        button{
            background-color: #ffffff;
            color: $primary-color;
            padding: 12px 28px;
            border-radius: 5px;
            text-transform: none;

            @media (hover:hover){
                &:hover{
                    background-color: $primary-color;
                    color: #ffffff;
                }
            }
        }
    }

    .statistics{
        @include flex-justify-center;
        flex-direction: column;
        width: 100%;
        margin: 50px auto 0px;
        font-family: 'Montserrat', sans-serif;
/*      box-shadow: 0px 30px 30px 0px rgba(0,0,0,0.75);*/
        @include media-breakpoint-up(md){
            display: grid;
            gap: unset;
            grid-template-columns: 45% 45%;
            column-gap: 0px;
            @include set-mx(0);
            row-gap: 0px;
            grid-template-rows: 50% 50%;
            box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.5);
        }
        @include media-breakpoint-up(lg){
            @include flex-row;
            @include set-mx(auto);
            box-shadow: 0px 30px 30px 0px rgba(0,0,0,0.75);
            width: 80%;
        }

        .icon{
            @include flex-align-justify-center;
            @include make-circle(50px);
            font-size: larger;
            margin-right: 10px;
            background-color: $secondary-color;
            color: #ffffff;
        }

        .stat-blue, .stat-purple, .stat-white{
            @include flex-align-justify-center;
            flex-direction: row;
            width: 100%;
            height: 150px;

            .stat-data {
                font-weight: bolder;
                text-transform: uppercase;

                .title-2{ font-size: xx-large; }

                div{ font-size: small; }
            }
        }

        .stat-blue, .stat-purple{ color: #ffffff; }

        .stat-purple{
            background-color: $secondary-color;

            .icon{ background-color: $primary-color; }
        }

        .stat-blue{
            background-color: $primary-color;
        }

        .stat-white{
            color: #000000;
            background-color: #ffffff;
        }
    }
}