.hero{
    @include flex-align-center;
    background: url('./../../../images/slider1.jpg') 50% 0 / auto scroll no-repeat;
    height: auto;
    color: #ffffff;
    @include media-breakpoint-up(md){ margin-top: 0px; }
    @include media-breakpoint-up(lg){ background: url('./../../../images/slider1.jpg') center center / cover scroll no-repeat; }

    &-content{
        @include flex-align-justify-center;
        flex-direction: column;
        padding: 0 15px;
        @include media-breakpoint-up(lg){ align-items: flex-start; }

        .text{
            @include flex-align-justify-center;
            flex-direction: column;
            width: auto;
            text-align: center;
            @include media-breakpoint-up(lg){
                text-align: left;
                align-items: flex-start;
            }

            .title-4{
                text-transform: capitalize;
                margin-bottom: 20px;
            }

            .title{ margin-bottom: 20px; }

            p{
                margin-bottom: 20px;
                width: 100%;
                font-size: 20px;
            }
        }

        .hero-buttons{
            @include media-breakpoint-up(md){
                @include flex-row;
                gap: 10px;
            }

            .button-purple{
                display: none;
                @include media-breakpoint-up(md){ display: block; } 
            }
        }
    }
    //@import "./main-services";
}