.our-services{
    background-color: $secondary-color;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;

    .services-content{
        padding: 100px 0 50px;
        @include media-breakpoint-up(lg){ padding: 100px 121px; }

        .text-button{
            @include flex-column;
            margin-bottom: 50px;
            margin-left: 50px;
            @include media-breakpoint-up(md){
                flex-direction: row;
                align-items: center;
                margin-right: 50px;
            }
            @include media-breakpoint-up(lg){ @include set-mx(unset); }

            .text{
                margin: unset;
                @include media-breakpoint-up(md){ margin-right: auto; }

                .title-5{
                    font-size: 16px;
                    text-transform: uppercase;
                }

                .title-3{
                    font-weight: 700;
                    text-transform: capitalize;
                    font-size: 20px;
                    margin-bottom: 10px;
                }
            }
        
            button.view-services{
                @include make-square(fit-content);
                border-radius: 5px;
                text-transform: capitalize;
                border: 5px solid transparent;
                padding: 10px 15px;
                margin-top: 5px;
                @include media-breakpoint-up(lg){
                    margin-top: unset;
                    margin-left: auto;
                    padding: 15px 20px;
                }
                @media (hover:hover){
                    color: $primary-color;
                    border-color: $primary-color;
                    background-color: $secondary-color;
                }
            }
        }

        .services-cards{
            @include flex-column;
            gap: 15px;
            margin: 80px;
            @include media-breakpoint-up(md){
                display: grid;
                justify-content: center;
                gap: unset;
                margin: unset;
                grid-template-columns: 45% 45%;
                column-gap: 15px;
                row-gap: 15px;
                grid-template-rows: 50% 50%;
            }
            @include media-breakpoint-up(lg){ @include flex-row }

            .card{
                @include flex-align-justify-center;
                background: none;
                border: 2px solid $primary-color;
                text-align: center;
                padding: 10px;
                @include media-breakpoint-up(lg){
                    margin: 10px;
                    transition: all 0.3s;
                }

                .title-2{
                    margin-top: 10px;
                    font-size: 20px;
                }

                .icon-card{
                    @include flex-align-justify-center;
                    @include make-circle(100px);
                    display: flex;
                    background-color: #ffffff;
                    color: $primary-color;
                    margin: 10px;
                    @include media-breakpoint-up(lg){ margin-top: 30px; }

                    i{
                        font-size: 40px;
                        @include media-breakpoint-up(lg){ font-size: 50px; }
                    }

                    .circle{
                        @include make-circle(120px);
                        position: absolute;
                        z-index: 0;
                        display: none;
                        border: 2px solid #ffffff;
                        transition: 0.3s;
                        animation: rotation 2s linear infinite;
                        clip-path: polygon(0% 0%,100% 0%,100% 100%,0% 100%,0 0);
                    }
                }

                a{
                    color: #ffffff;
                    margin: 20px 0;
                }

                &.activated, &.always-activated{
                    background-color: $primary-color;
                    .circle{
                        display: block;

                        &::before{
                            @include make-circle(8px);
                            position: absolute;
                            content: '';
                            background: #ffffff;
                            left: 15px;
                            bottom: 9px;
                        }
                    }
                }

                &.activated, &.always-activated:hover{ transform: translatey(-5px); }
            }
        }
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}