.process{
    margin: 50px 0;

    .text{
        @include flex-align-justify-center;
        flex-direction: column;
        margin-bottom: 50px;
        font-family: 'Montserrat', sans-serif;

        .title-2{ font-size: 30px; }

        .title-line{
            @include flex-column;
            margin-bottom: 13px;

            .line{ margin-left: 0; } 
        }
    }

    .step-wrapper{
        @include flex-align-center;
        flex-direction: column;

        .row{ 
            flex-direction: column;
            @include media-breakpoint-up(lg){ flex-direction: row; } //LOL       
        }

        .step{
            @include flex-align-justify-center;
            flex-direction: column;
            margin-bottom: 50px;
            @include media-breakpoint-up(md){ margin-bottom: unset; }

            .icon-counter{
                @include flex-align-justify-center;
                @include make-circle(120px);
                position: relative;
                background: linear-gradient(90deg, $primary-color 0%, $secondary-color 100%);
                @include media-breakpoint-up(md){ @include make-square(80px); }
                @include media-breakpoint-up(lg){ @include make-square(120px); }

                i{
                    color: #ffffff;
                    font-size: 50px;
                    @include media-breakpoint-up(md){ font-size: 30px; }
                    @include media-breakpoint-up(lg){ font-size: 50px; }
                }

                .counter{
                    @include flex-align-justify-center;
                    @include make-circle(50px);
                    position: absolute;
                    z-index: 1;
                    color: $primary-color;
                    background-color: #ffffff;
                    top: 0px;
                    right: -15px;
                    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
                    @include media-breakpoint-up(md){ @include make-square(30px); }
                    @include media-breakpoint-up(lg){ @include make-square(50px); }
                }
            }

            .dot-line{
                @include flex-align-center;
                flex-direction: column;
                margin: 10px 0;

                .dot, .vertical-line{ border: 1px solid #808080; }

                .dot{
                    @include make-circle(15px);
                    background-color: none;
                    margin-bottom: 2px;
                }

                .vertical-line{
                    width: 2px;
                    height: 40px;
                }
            }

            .step-text{
                text-align: center;
                width: 200px;

                .title-2{
                    font-weight: 700;
                    font-size: 16px;
                }
            }
        }

        .direction-sign{
            display: none;
            width: 50px;
            height: auto;
            @include media-breakpoint-up(md){ display: block; }
            @include media-breakpoint-up(lg){ width: 100px; }
            @include media-breakpoint-up(xl){ width: 200px; }
        }
    }
}